<div id="openings_calendar-<%= service.id.to_s %>">
  <%= month_calendar events: openings, params: { service: service } do |day, openings| %>
    <div>
      <strong><%= day.to_s(:short) %></strong>
    </div>
    <% openings.each do |opening| %>
      <div>
        <%= link_to opening.start_time.strftime("%H:%M"), new_service_booking_url(start_time: opening.start_time, opening_id: opening.id, service_id: service) %>
      </div>
    <% end %>
  <% end %>
</div>
