<%= form_for(@service) do |f| %>
  <%= render 'shared/error_messages', object: @service %>

    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, size: "50x1", :maxlength => 50 %><br />

    <%= f.label :content %>
    <%= f.text_area :content, size: "50x7", :maxlength => 600 %><br />

    <%= f.label :price %>
    <b>€</b><%= f.text_field :price %><br /><br / />

    <%= select_tag(:category_id, options_for_select(@categories), :prompt => 'Please select category') %><br /><br />

  <%= f.submit class: "btn btn-complete" %>

<% end %>
</br >
<%= link_to "Back", services_path %>
