<h3>Awesome! Next up, please add your first service</h3>
<p>You will be able to add more later.</p>

<%= form_for(service) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, size: "50x1", :maxlength => 50 %><br />

  <%= f.label :content %>
  <%= f.text_area :content, size: "50x7", :maxlength => 600 %><br />

  <%= f.label :price %>
  <b>€</b><%= f.text_field :price %><br/><br //>

  <%= select_tag(:category_id, options_for_select(categories), :prompt => 'Please select category') %><br/>
  <br>

  <%= f.submit "Create service", class: "btn btn-complete" %>

<% end %>
