<style type="text/css">
  .simple-calendar {
    font-size: 10px;
  }

  .simple-calendar .calendar-heading {
    font-size: 24px;
  }
</style>

<% @services.order("id desc").each do |service| %>
  <div class="p-t-50">
    <dl>
      <dt class="block-title p-b-15 text-black">
        <%= image_tag('fallback/massage.jpg', size: "100x85") %>
        <%= service.title %>
        <button class="btn btn-lg btn-rounded btn-white btn-animated from-top fa fa-heart" data-toggle="modal" data-target="#bookingsModal<%= service.id%>">
          <span>Book</span>
        </button>

        <!-- BOOK MODAL (STICK UP)  -->
        <div class="modal fade center" id="bookingsModal<%= service.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-21"></i>
                        </button>
                        <% if user_signed_in? %>
                          <h4>Book <%= service.title %></h4>
                        <% else %>
                          <h5>Please log in first</h5>
                        <% end %>
                    </div>
                    <div class="modal-body">
                      <% if user_signed_in? %>
                          <% if flash[:error].present? %>
                            <div id="error_explanation">
                              <p><%= flash[:error] %></p>
                            </div>
                          <% end %>
                          <div class="row">
                            <div class="col-sm-12">
                                <%= hidden_field_tag "recipients", @user.id %>
                                <div class="form-group">
                                  <%= label_tag 'Available times' %>
                                  <%= render partial: 'services/calendar', locals: { openings: @calendar_openings, service: service } %>
                                </div>
                            </div>
                          </div>
                      <% else %>
                        <%= render "users/sessions/form", :action => "new_user_session_path", :layout=> false %>
                      <% end %>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END BOOK MODAL (STICK UP)  -->
          <br />
      </dt>
      <dd class="m-b-30"><%= service.content %></dd>
    </dl>
  </div>
<% end %>
