<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <%# if current_user.cancel_policy.exists? %>
      <div class="form-group form-group-default">
        <div class="">
          <%# flash.each do |key, value| %>
            <!-- <div class="alert alert-<%= key %> bg-<%= key %>-light"><%= value %></div> -->
          <%# end %>
        </div>
      </div>
      <%# else %>
        <div class="form-group form-group-default">

            <h3>
              Hi <%= current_user.first_name %>, to become a provider at Enlive we need to learn a little more about you.
            </h3>

            <%= render 'users/registrations/cancel_policy_form', :action => "edit_user_registration_path", :layout=> false %>

        <%# end %><br/><br/>
      </div>
    </div>
  </section>
