<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <h2>Edit service</h2>
          <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
