<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <% if current_user.services.exists? %>
      <div class="form-group form-group-default">
        <div class="">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> bg-<%= key %>-light"><%= value %></div>
          <% end %>
        </div>
        <% if current_user.uid.present? %>
          <% if current_user.openings.exists? %>
            <% provide(:title, 'My Services') %>
            <h1>My Services <%= link_to "My Openings", openings_path, class: "btn btn-lg btn-complete btn-bordered pull-right" %>
            </h1>
            Cancel policy: <%= link_to current_user.cancel_policy, my_cancelpolicy_path %>
            <hr />
            <ul class="services">
              <% @services.each do |service| %>
                <li>
                  <%= service.title %> (<%= service.category.name %>):
                  <%= service.content %><br/>
                  Price: $<%= service.price %>
                  |
                  <%= link_to "Edit", edit_service_path(service) %>
                  |
                  <%= link_to "Delete", service, method: :delete, data: { confirm: "You sure?" } %>
                </li>
              <% end %>
            </ul>
            <hr />
            <%= link_to "New service", new_service_path, class: "btn btn-complete btn-bordered" %>


          <% else %>

          <!-- Step 4 -->

            <% controller.redirect_to openings_path, alert: "Last and final step. Please let people know when you are available." %>
          <% end %>
      </div>
        <% else %>

          <!-- Step 3 -->

          <h3>Almost done! Please let us know how to pay you by clicking the button below</h3>
          <p>
            You will get redirected to Stripe, world-renowned business payments company that will handle your payments information.
          </p>
          <br />

            <%= link_to "Enter my payout details", user_stripe_connect_omniauth_authorize_path, class: "btn btn-complete btn-lg btn-large btn-block" %>
        <% end %>

      <% else %>
        <div class="form-group form-group-default">
          <% if current_user.avatar.present? && current_user.description.present? %>

          <!-- Step 2 -->

            <%= render partial: "services/new_service_form", locals: {service: Service.new, categories: Category.all.map{|c| [ c.name, c.id ] }} %>

          <% else %>

          <!-- Step 1 -->

            <%= render '/services/onboarding/1' %>

          <% end %>
        <% end %><br/><br/>
      </div>
    </div>
  </section>
