<div class="simple-calendar">
  <% if current_page?('/openings') %>
    <% if current_user.openings.exists? %>
      <p>
        Edit openings by clicking on them below.
      </p>
    <% else %>
      <p>
        Add opening by pressing the button to the right.
      </p>
    <% end %>
  <% end %>
  <div class="h4">
    <%= link_to "Previous", url_for(params.merge(start_date: date_range.first - 1.day).permit!), remote: true %>
    <%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %>
    <%= link_to "Next", url_for(params.merge(start_date: date_range.last + 1.day).permit!), remote: true  %>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
