<%= form_tag messages_path, method: :post do %>
  <%= hidden_field_tag(:recipient_id, "#{@user.id}") %>

  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>

  <%= submit_tag 'Send', class: 'btn btn-complete' %>
<% end %>
