<% page_header "Start Conversation" %>
<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <%= form_tag messages_path, method: :post do %>
          <div class="form-group">
            <%= label_tag 'message[subject]', 'Subject' %>
            <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= label_tag 'message[body]', 'Message' %>
            <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= label_tag 'recipients', 'Choose recipients' %>
            <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control' %>
          </div>

          <%= submit_tag 'Send', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
