      <div class="form-group-lg p-t-20">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if flash[:alert] %>
          <div class="alert-error p-t-5 p-b-5 m-b-10">
            <%= flash[:alert] %>
          </div>
        <% end %>

          <div class="field">
            <%= f.email_field :email, placeholder: "Email address", autofocus: true, required: true, class: "form-control" %><br />
          </div>

          <div class="field">
            <%= f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: "form-control" %><br />
          </div>

          <div class="field", style="margin-top: -20px;">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "checkbox inline" %>
            <div class="pull-right-lg" style="margin-bottom: 10px; margin-top: 10px;">
              <%= link_to "Forgot password?", new_password_path(resource_name), style: "font-size: 13px;" %><br />
            </div>
        </div>

          <div class="actions">
            <%= f.submit "Log in", class: 'block-title btn btn-complete btn-lg btn-block' %>
          </div>
        <% end %>
        <hr>
        <div class="clearfix">
            Don’t have an account?
          <div class="pull-right-lg md-m-t-20">
            <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-complete btn-bordered' %>
          </div>
        </div>

  </div>
