<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group form-group-default">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if flash[:alert] %>
          <div class="alert-error p-t-5 p-b-5 m-b-10">
            <%= flash[:alert] %>
          </div>
        <% end %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, required: true %><br />
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", required: true %><br />
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "checkbox inline" %>
            </div>
          <% end -%><br />

          <div class="actions">
            <%= f.submit "Log in", class: 'block-title btn btn-complete btn-lg btn-block' %>
          </div>
        <% end %>
        <hr>
        <div class="field m-b-10 m-t-20">
          Don’t have an account?
        </div>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
