<%= month_calendar events: openings do |day, openings| %>
  <div>
    <strong><%= day.to_s(:short) %></strong>
  </div>
  <% openings.each do |opening| %>
    <div>
      <%= link_to opening.start_time.strftime("%H:%M"), opening_path(opening, time: opening.start_time) %>
    </div>
  <% end %>
<% end %>
