<h3>Good job! Next up, please let people know when you are available to book.</h3>

<%= form_for(service) do |f| %>

<%= f.label :title %>
<%= f.text_field :title, autofocus: true, size: "50x1" %><br/>

<%= f.label :content %>
<%= f.text_area :content, size: "50x7" %><br/>

<%= f.label :price %>
<b>€</b><%= f.text_field :price %><br/><br //>

<%= select_tag(:category_id, options_for_select(categories), :prompt => 'Please select category') %><br/>
<br>

  <%= f.submit "Create service", class: "btn btn-complete" %>

  <% end %>
