<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group form-group-default">
        <div class="">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> bg-<%= key %>-light"><%= value %></div>
          <% end %>
        </div>
          <% provide(:title, 'Your openings') %>
          <h1>Your openings
          <%= link_to "Add new opening", new_opening_path, class: "btn btn-complete btn-lg pull-right" %>
          </h1>

          <div id="openings_calendar">
            <%= render partial: "calendar", locals: {openings: @calendar_openings} %>
          </div>
          <hr />
          <%= link_to "Back", services_path, class: "btn btn-complete btn-bordered" %>
        </div>
      </div>
    </div>
  </section>
