<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <h2>Schedule openings</h2>
        <%= form_for(@opening) do |f| %>

          <%= f.label :start_time %>
          <%= f.datetime_select :start_time, :minute_step => 15 %> <%#:order => [:hour, :minute],%> <br />

          <%#= f.label :end_time %>
          <%#= f.datetime_select :end_time %><br />

          <%= f.label :create_recurring_series %>
          <%= f.select_recurring :recurring, nil, allow_blank: true %><br /><br / />

          <%= f.submit "Create opening", class: "btn btn-complete" %>

        <% end %>
        </br >
        <hr />
        <%= link_to "Back", :back, class: "btn btn-complete btn-bordered" %>
      </div>
    </div>
  </div>
</section>
