<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <h2><%= @time.to_s(:long) %></h2>

            <%= link_to "Edit opening", edit_opening_path(@opening), class: 'btn btn-info btn-bordered' %>
            <p>
              Click here to edit the opening.
            </p>
            <br />
            <%= link_to "Delete this opening", opening_exceptions_path(@opening, opening_exception: {time: @time}), method: :post, class: 'btn btn-info btn-bordered' %>
            <p>
              Use this to remove the single opening and keep the series.
            </p>
            <br />
            <%= link_to "Delete all openings in the series", @opening, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-info btn-bordered' %>
            <p>
              Delete the whole series.
            </p>
            <br />
            <hr>
            <%= link_to "Back", openings_path, class: "btn btn-complete btn-bordered" %>

      </div>
    </div>
  </div>
</section>
