<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <!-- <% page_header "Your Conversations" %> -->
        <h1>Your messages</h1></br >

        <!-- <p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-complete' %></p> -->

        <ul class="list-group">
          <%= render partial: 'conversations/conversation', collection: @conversations %>
        </ul>

        <%= will_paginate %>
      </div>
    </div>
  </div>
</section>
