<% page_header "Conversation" %>
<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <p>Chatting with
          <%= render 'conversations/participants', conversation: @conversation %>
        </p>

        <div class="panel panel-default">
          <div class="panel-heading"><%= @conversation.subject %></div>

          <div class="panel-body">
            <div class="messages">
              <% @conversation.receipts_for(current_user).each do |receipt| %>
                <div class="media">
                  <% message = receipt.message %>
                  <div class="media-left">
                    <%= avatar_for message.sender, message.sender.first_name %>
                  </div>

                  <div class="media-body">
                    <h6 class="media-heading"><%= message.sender.first_name %>
                      says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
                    <%= message.body %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <%= form_tag reply_conversation_path(@conversation), method: :post do %>
          <div class="form-group">
            <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
          </div>
          <%= submit_tag "Send Message", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
