<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group form-group-default">
        <h2>Resend unlock instructions</h2>

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div><br />

          <div class="actions">
            <%= f.submit "Resend unlock instructions" %>
          </div><br />
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
