<style>
.wrapper {
  overflow:hidden;
}

.wrapper div {
}
#one {
  float:right;
  /*width:140px;*/
}
#two {
  overflow:hidden;
}

@media screen and (max-width: 540px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    text-align: center;

  }

    #two {
      margin-top: 20px;
      text-align: center;
    }
    #title {
      text-align: center;
    }
}
</style>


  <section class="bg-master-lightest p-b-65 p-t-100">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="wrapper form-group form-group-default">
          <div id="title">
            <h2>Change or Cancel</h2></br >
          </div>
          <div id="one">
            <%= image_tag(@booking.service.user.avatar.thumb, size: "125x125", class: "img-circle", :style => "border: 3px solid #fff;") %>
          </div>
          <div id="two">
            <%= label_tag :title %>
            <%= @booking.service.title %><br /><br />

            <%= label_tag :start_time %>
            <%= @booking.start.to_time.strftime('%B %e at %l:%M %p') %><br /><br />

            <%= label_tag :price %>
            €<%= @booking.service.price %><br /><br />

            <%= label_tag :cancellation_policy %>
            <%= link_to @booking.cancel_policy, cancelpolicy_path, target: :_blank %>*
            <br /><br /><br />

            <%= link_to "Cancel booking", @booking, class: "btn btn-xs m-b-0", method: :delete, data: { confirm: "You sure?\n\nYou will recieve €#{@booking.refund_amount / 100} back if you cancel this session now." } %>
            <p class="fs-14 m-t-0">*You will recieve €<%= @booking.refund_amount / 100 %> if you choose to cancel now.</p>

          </div>

      </div>
    </div>
  </section>
