<style>
.wrapper {
  overflow:hidden;
}

.wrapper div {
}
#one {
  float:right;
  /*width:140px;*/
}
#two {
  overflow:hidden;
}

@media screen and (max-width: 540px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    text-align: center;

  }

    #two {
      margin-top: 20px;
      text-align: center;
    }
    #title {
      text-align: center;
    }
}
</style>


  <section class="bg-master-lightest p-b-65 p-t-100">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="wrapper form-group form-group-default">
          <div id="title">
            <h2>Review and pay</h2></br >
          </div>
          <div id="one">
            <%= image_tag(@service.user.avatar.thumb, size: "125x125", class: "img-circle", :style => "border: 3px solid #fff;") %>
          </div>
          <div id="two">
            <%= label_tag :title %>
            <%= @service.title %><br /><br />

            <%= label_tag :start_time %>
            <%= @start_time.to_time.strftime('%B %e at %l:%M %p') %><br /><br />

            <%= label_tag :price %>
            €<%= @service.price %><br /><br />

            <%= label_tag :cancellation_policy %>
            <%= link_to @service.user.cancel_policy, cancelpolicy_path, target: :_blank %><br /><br />

            *By clicking pay you are agreeing to the cancellation policy.
          </div>

        <%= form_for([@service, @booking]) do |f| %>
          <%= f.hidden_field :start, value: @start_time %>
          <%= f.hidden_field :service_id, value: @service.id %>
          <%= f.hidden_field :price, value: @service.price %>
          <%= f.fields_for :opening_exception do |o| %>
            <%= o.hidden_field :time, value: @start_time %>
            <%= o.hidden_field :opening_id, value: @opening %>
          <% end %>
          <%= f.hidden_field :cancel_policy, value: @service.user.cancel_policy %>

          <%= submit_tag 'Pay', class: 'btn btn-complete btn-lg btn-large btn-block' %> 

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= @service.title %>"
                  data-amount="<%= @service.price * 100 %>"
                  data-locale="auto"
                  data-currency="eur"></script>
          <style>.stripe-button-el { display: none }</style>
        <% end %>
      </div>
    </div>
  </section>
