<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <div class="">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> bg-<%= key %>-light"><%= value %></div>
          <% end %>
        </div>
        <% provide(:title, 'Bookings') %>
        <h2>My bookings</h2></br >

        <ul class="bookings">
          <% @services.each do |service| %>

            <% service.bookings.each do |booking| %>
              <div class="col-md-4">
                <%= label_tag booking.service.title %>
                <%= booking.start.strftime('%B %e at %l:%M %p') %>
              </div>
              <div class="col-md-4">
                <%= link_to image_tag(booking.user.avatar.thumb, class: "img-circle", size: "75x75"), booking.user %>
              </div>
              <div class="col-md-4">
                <strong>$</strong><%= booking.price %>
              </div>
              </br >
              </br >
            <% end %>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</section>
