<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <div class="">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> bg-<%= key %>-light"><%= value %></div>
          <% end %>
        </div>
        <% provide(:title, 'Upcoming sessions') %>
        <h2>Your upcoming sessions</h2></br >

        <ul class="sessions">
          <% @sessions.each do |session| %>
            <div class="col-md-4">
              <%= label_tag session.service.title %>
              <%= session.start.strftime('%B %e at %l:%M %p') %>
            </div>
            <div class="col-md-4">
              <%= link_to image_tag(session.service.user.avatar.thumb, class: "img-circle", size: "75x75"), session.service.user %>
            </div>
            <div class="col-md-4">
              <strong>$</strong><%= session.price %><br />
              <%= link_to 'Change or Cancel', edit_booking_path(session) %>

            </div>
            </br >
            </br >
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
