<div class="container">
  <div class="row row-same-height">
    <% users.shuffle.each do |user| %>
      <% if user.active_provider? %>
        <div class="col-sm-3">
          <div class="matched-outer b-black b-a text-center b-rad-md no-overflow m-b-20">
            <div class="matched-inner-top bg-master-lighter p-t-10 p-b-0">
              <%= link_to image_tag(user.avatar.thumb, size: "100x100", class: "img-circle", :style => "border: 3px solid #fff"), user %>
              <h3 class="font-montserrat no-margin"><%= truncate (user.first_name + ' ' + user.last_name), length: 20 %></h1>
              <p class="no-margin fs-20"><span id="average_rating_<%= user.first_name %>"></p>
              <p class="no-margin fs-12"><%= pluralize(user.received_reviews, 'review') %></span></p>
            </div>
            <div class="matched-inner-bot p-t-0 p-b-20">
              <ul class="list-unstyled p-l-30 p-r-30  sm-p-l-10 sm-p-r-10 hint-text m-t-20">
                <li class="b-b b-grey">
                  <p class="font-arial fs-14 no-margin p-t-5 p-b-5">
                    <strong><%= service_categories(user) %></strong>
                  </p>
                </li>
                <li class="b-b b-grey">
                  <p class="font-arial fs-14 no-margin p-t-5 p-b-5">Located in <%= user.location.try(:city) %></p>
                </li>
                <!-- <li class="b-b b-grey"> -->
                  <!-- <p class="font-arial fs-14 no-margin p-t-5 p-b-5">Verified account</p> -->
                <!-- </li> -->
              </ul>
            </div>
            <div class="p-t-5 p-b-20">
              <%= link_to "Read more", user, class: "btn btn-rounded btn-white" %>
            </div>
          </div>
        </div>
        <script>
        $('#average_rating_<%= user.first_name %>').raty({
          readOnly: true,
          score: <%= user.avg_rating %>
        });
        </script>
        <script>
          $(function() {
              $('.matched-outer').matchHeight({ property: 'min-height' });
              $('.matched-inner-top').matchHeight({ property: 'min-height' });
              $('.matched-inner-bot').matchHeight({ property: 'min-height' });
          });
        </script>
      <% end %>
    <% end %>
  </div>
</div>
