

// inside increase_count.js.erb

// Fetch the link in question and re-render it
// The newly rendered link will use the updated value from the instance variable within the #increase_count action

// Generates the link
// Use the j helper to escape any JavaScript within the text

var link = "<%= j render(partial: "users/browse", locals: {users: @users}) %>";
// Select the link using jQuery and update it
$("#showcase").html(link);
