<!-- BEGIN HERO WITH PARALLAX -->
<section class="demo-hero-45" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="image" data-swiper-parallax="30%">
              <%= lazy_image_tag('holding_girl2.jpg', placeholder: 'holding_girl2_low.jpg', class: "image-responsive-height", style: "position: relative; top: -0px;") %>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                      <h1 class="text-white sm-text-center" data-swiper-parallax="-15%">You're in good hands with us</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->
      </div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- BEGIN BROWSE SECTION -->
<section class="p-b-40 p-t-40">
  <div class="container">
    <div class="m-b-30">
      <h1 class="text-center ">Our amazing experts</h1>
      <div class="b-b b-grey m-t-30"></div>
      <div class="col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-2 p-t-15 p-b-15">
        <ul class="no-style no-margin">
          <li class="m-r-20 m-l-20 inline sm-block text-center sm-p-b-5 sm-m-b-5 b-grey sm-b-b">
            <%= link_to "Bodyworkers", users_path(users: '1'), :class => 'link active text-black fs-13 block-title', :remote => true %>
          </li>
          <li class="m-r-20 m-l-20 inline sm-block text-center sm-p-b-5 sm-m-b-5 b-grey sm-b-b">
            <%= link_to "Shamans", users_path(users: '2'), :class => 'link active text-black fs-13 block-title', :remote => true %>
          </li>
          <li class="m-r-20 m-l-20 inline sm-block text-center sm-p-b-5 sm-m-b-5 b-grey sm-b-b">
            <%= link_to "Healers", users_path(users: '3'), :class => 'link active text-black fs-13 block-title', :remote => true %>
          </li>
          <li class="m-r-20 m-l-20 inline sm-block text-center sm-p-b-5 sm-m-b-5 b-grey sm-b-b">
            <%= link_to "Teachers", users_path(users: '4'), :class => 'link active text-black fs-13 block-title', :remote => true %>
          </li>
          <li class="m-r-20 m-l-20 inline sm-block text-center ">
            <!-- <a href="#" class="link active text-black fs-13 block-title">More</a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-master-lightest p-b-65 p-t-5">
  <div id="showcase">
    <%#= render 'browse', locals: {users: @users}) %>
    <%= render partial: 'users/browse', locals: { users: @users } %>
  </div>
</section>
