<style>
.wrapper {
  overflow:hidden;
}

.wrapper div {
}
#one {
  float:left;
  width:140px;
}
#two {
  overflow:hidden;
}

@media screen and (max-width: 1200px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    margin-left: auto;
    margin-right: auto
  }

    #two {
      margin-top: -20px;
      margin-bottom: -20px;
    }
}
</style>


<!-- BEGIN USER SECTION -->
<section class="p-b-65 p-t-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-5 sm-m-t-30">
            <div class="p-r-65 md-p-l-0 md-p-r-10 sm-m-t-20">
              <div class="b-black b-a text-center b-rad-md no-overflow">
                <div class="wrapper bg-master-lighter">
                  <div id="one">
                    <%= image_tag(@user.avatar.thumb, size: "145x145", class: "img-circle m-t-15", :style => "border: 3px solid #fff") %>
                  </div>
                  <div class="bg-master-lighter p-t-30 p-b-30">
                    <div id="two">
                      <h5 class="no-margin">Hi, I'm</h5>
                      <h1 class="font-montserrat no-margin"><%= @user.first_name %></h1>
                      <p class="no-margin fs-14"><span id="average_rating"></span></p>
                      <p class="no-margin fs-14"><%= pluralize(@user.received_reviews, 'review') %></span></p>
                    </div>
                  </div>
                </div>
                <div class="p-t-30 p-b-20">
                  <div class="p-l-15 p-r-15">
                    <p class="semi-bold"> <%= @user.description %> </p>
                  </div>
                  <ul class="list-unstyled p-l-60 p-r-60  sm-p-l-10 sm-p-r-10 hint-text m-t-20">
                    <li class="b-b b-grey">
                      <p class="font-arial fs-14 no-margin p-t-5 p-b-5">Located in <%= @user.location.city %></p>
                    </li>
                    <!-- <li class="b-b b-grey">
                      <p class="font-arial fs-14 no-margin p-t-5 p-b-5">Facebook verified</p>
                    </li>
                    <li class="b-b b-grey">
                      <p class="font-arial fs-14  no-margin p-t-5 p-b-5">Passport verified</p>
                    </li> -->
                  </ul>
                </div>
                <div class="bg-master-lighter p-t-20 p-b-20">
                  <button class="btn btn-lg btn-rounded btn-white btn-animated from-top pg pg-mail" data-toggle="modal" data-target="#messageModal">
                    <span>Contact</span>
                  </button>
                  <script>
                  $('#average_rating').raty({
                    readOnly: true,
                    score: <%= @user.avg_rating %>
                  });
                  </script>
                  <!-- CONTACT MODAL (STICK UP)  -->
                  <div class="modal fade stick-up" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header clearfix text-left">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                  <i class="pg-close fs-14"></i>
                                  </button>
                                  <% if user_signed_in? %>
                                    <h5>Contact <%= @user.first_name %></h5>
                                  <% else %>
                                    <h5>Please log in first</h5>
                                  <% end %>
                              </div>
                              <div class="modal-body">
                                <% if user_signed_in? %>
                                  <% if flash[:error].present? %>
                                    <div id="error_explanation">
                                      <p><%= flash[:error] %></p>
                                    </div>
                                  <% end %>
                                  <%= form_tag messages_path, method: :post do %>
                                    <div class="row">
                                      <div class="col-sm-12">
                                          <%= hidden_field_tag "recipients", @user.id %>
                                          <div class="form-group">
                                            <%= label_tag 'message[subject]', 'Subject' %>
                                            <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
                                          </div>
                                          <div class="form-group">
                                            <%= label_tag 'message[body]', 'Message' %>
                                            <%= text_area_tag 'message[body]', nil, rows: 5, class: 'form-control', required: true %>
                                          </div>
                                          <%= submit_tag 'Send', class: 'btn btn-complete btn-lg btn-large btn-block' %>
                                      </div>
                                    </div>
                                  <% end %>
                                <% else %>
                                  <%= render "users/sessions/form", :action => "new_user_session_path", :layout=> false %>
                                <% end %>
                              </div>
                          </div>
                          <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                  </div>
                  <!-- END CONTACT MODAL (STICK UP)  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7  sm-p-t-20 ">
            <div class="">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %> bg-<%= key %>-light"><%= value %></div>
              <% end %>
            </div>
            <% if @user.services.any? %>
              <h1 class="m-t-30 light">What I can offer you.</h1>
                <%= render 'services/service' %>
            <% end %>
            <h1 class="m-t-30 light">Reviews</h1>
            <% if user_signed_in? %>
              <div>
                <%= render 'reviews/form' %>
              </div>
            <% end %>
            <div>
              <%= render 'reviews/list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END USER SECTION -->
