<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Cancellation Policies</h1>
      <p>
        Enlive allows providers to choose among three standardized cancellation policies (Flexible, Moderate, and Strict) that we enforce to protect both guest and provider alike. Each offering and booking on our site will clearly state the cancellation policy. Clients may cancel and review any penalties by viewing their bookings schedule and then clicking 'Cancel' on the appropriate reservation.
      </p>

      <div class="panel panel-default">

        <div class="panel-heading">
          <button class="btn btn-flexible">Flexible</button>
          <button class="btn btn-moderate">Moderate</button>
          <button class="btn btn-strict">Strict</button>
        </div>

        <div class="panel-body">
          <div class="flexible active">
            <%= render "pages/policies/flexible" %>
          </div>

          <div class="moderate">
            <%= render "pages/policies/moderate" %>
          </div>

          <div class="strict">
            <%= render "pages/policies/strict" %>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
