<div class="page-wrappers">
  <!-- BEGIN JUMBOTRON -->
  <section class="jumbotron full-vh" data-pages="parallax">
    <div class="inner full-height">
      <!-- BEGIN SLIDER -->
      <div class="swiper-container" id="hero">
        <div class="swiper-wrapper">
          <!-- BEGIN SLIDE -->
          <div class="swiper-slide fit">
            <!-- BEGIN IMAGE PARRALAX -->
            <div class="slider-wrapper">
              <div class="image" data-swiper-parallax="30%">
                <%= lazy_image_tag('hero_1.jpg', placeholder: 'hero_1_low.jpg', class: "image-responsive-height") %>
              </div>
            </div>
            <!-- END IMAGE PARRALAX -->
            <!-- BEGIN CONTENT -->
            <div class="content-layer">
              <div class="inner full-height">
                <div class="container-xs-height full-height">
                  <div class="col-xs-height col-middle text-left">
                    <div class="container">
                      <div class="col-md-6 no-padding col-sm-10 col-sm-offset-6">
                        <h1 class="light sm-text-center text-white" data-swiper-parallax="-15%">Start putting yourself first.</h1>
                        <h4 class="sm-text-center text-white">Because self-care isn't selfish.</h4>
                        <div class=button-container>
                          <%= link_to "Read more", users_path, class: "btn btn-md btn-cons btn-rounded btn-bordered" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
          </div>
          <!-- END SLIDE -->
          <!-- BEGIN SLIDE -->
          <div class="swiper-slide fit">
            <!-- BEGIN IMAGE PARRALAX -->
            <div class="slider-wrapper">
              <div class="image" data-swiper-parallax="30%">
                <!-- <img draggable="false" src="assets/images/hero_2.jpeg" class="image-responsive-height" alt="" title=""> -->
                <%= image_tag("hero_2.jpg", alt: "", title: "", class: "image-responsive-height") %>
              </div>
            </div>
            <!-- END IMAGE PARRALAX -->
            <!-- BEGIN CONTENT -->
            <div class="content-layer">
              <div class="inner full-height">
                <div class="container-xs-height full-height">
                  <div class="col-xs-height col-middle text-left">
                    <div class="container">
                      <div class="col-md-6 no-padding col-sm-10 col-sm-offset-6">
                        <h1 class="light sm-text-center text-white" data-swiper-parallax="-15%">Unique experiences...</h1>
                        <h4 class="sm-text-center text-white">Designed for you to step into your full power.</h4>
                        <div class=button-container>
                          <%= link_to "Read more", users_path, class: "btn btn-md btn-cons btn-rounded btn-bordered" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
          </div>
          <!-- END SLIDE -->
          <!-- BEGIN SLIDE -->
          <div class="swiper-slide fit">
            <!-- BEGIN IMAGE PARRALAX -->
            <div class="slider-wrapper">
              <div class="image" data-swiper-parallax="30%">
                <!-- <img draggable="false" src="assets/images/hero_2.jpeg" class="image-responsive-height" alt="" title=""> -->
                <%= image_tag("hero_3.jpg", alt: "", title: "", class: "image-responsive-height") %>
              </div>
            </div>
            <!-- END IMAGE PARRALAX -->
            <!-- BEGIN CONTENT -->
            <div class="content-layer">
              <div class="inner full-height">
                <div class="container-xs-height full-height">
                  <div class="col-xs-height col-middle text-left">
                    <div class="container">
                      <div class="col-md-6 no-padding col-sm-10 col-sm-offset-4">
                        <h1 class="light sm-text-center" data-swiper-parallax="-15%">Don't wait any longer.</h1>
                        <h4 class="sm-text-center">Step into Life as you want it.</h4>
                        <div class=button-container>
                          <%= link_to "Read more", users_path, class: "btn btn-info btn-md btn-cons btn-rounded btn-bordered" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
          </div>
          <!-- END SLIDE -->
        </div>
        <!-- BEGIN ANIMATED MOUSE -->
        <div class="mouse-wrapper">
          <div class="mouse">
            <div class="mouse-scroll"></div>
          </div>
        </div>
        <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
      </div>
    </div>
    <!-- END SLIDER -->
  </section>
  <!-- END JUMBOTRON -->
  <!-- BEGIN CONTENT SECTION -->
  <section class="bg-master-lightest p-b-85 p-t-75">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
        <h5 class="block-title hint-text no-margin">Explore</h5>
        <div class="row">
          <div class="col-sm-5 col-md-4">
            <h1 class="m-t-5">New ways to find your own amazing helpers.</h1>
          </div>
          <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
            <div class="p-t-20 p-l-35 md-p-l-5 md-p-t-15">
              <p>Our long standing vision is to help you find new ways to find deeper meaning and fulfillment in life. Have a look around at the worlds only place where spirituality is quality assured. </p>
              <p class="hint-text font-arial small-text col-md-7 no-padding">We work together with the best people in the world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-master-lightest p-b-65 p-t-5">
    <%= render partial: 'users/browse', locals: { users: @users } %>
  </section>

  <!-- END CONTENT SECTION -->
</div>
