<!-- BEGIN HERO WITH PARALLAX -->
<section class="demo-hero-45" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="image" data-swiper-parallax="30%">
              <%= lazy_image_tag('flower_bg.jpg', placeholder: 'flower_bg_low.jpg') %>
              <!-- <img src="bg.png" data-src="img1.jpg" /> -->
                <!-- <img src="bg.png" data-src="img2.jpg" data-src-retina="img2-retina.jpg" /> -->
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                      <h1 class="text-white sm-text-center" data-swiper-parallax="-15%"><strong>Your practice perfected.</strong></h1>
                      <div class=button-container>
                        <%= link_to "Create my account", new_user_registration_path, class: "btn btn-warning btn-lg btn-cons btn-rounded btn-bold" unless user_signed_in? %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->
      </div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- BEGIN CONTENT SECTION -->
<section class="bg-master-lightest p-b-85 p-t-75">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <h5 class="block-title hint-text no-margin">Finally</h5>
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <h1 class="m-t-5">Being able to do your work in peace.</h1>
        </div>
        <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
          <div class="p-t-20 p-l-35 md-p-l-5 md-p-t-15">
            <p>Our mission is to help you with everything around your work. By doing this, we want to enable you to focus more on your practice. Together we can help the world even more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->

<!-- BEGIN CONTENT SECTION -->
<section class="p-b-85 p-t-75 p-b-65 p-t-55">
  <div class="container">
    <div class="md-p-l-20 xs-no-padding clearfix">
      <div class="col-sm-4 no-padding">
        <div class="p-r-40 md-pr-30">
          <%= image_tag("payment.svg", alt: "", title: "", class: "m-b-10 m-t-10", style: 'height:100px;width:auto;') %>
          <h6 class="block-title p-b-5">No more no-shows <i class="pg-arrow_right m-l-10"></i></h6>
          <p class="m-b-30">All sessions are paid online upon booking so you never have to deal with the financial pain when people don't show up.</p>
          <p class="muted font-arial small-text col-sm-9 no-padding">You recieve your money directly to your bank account after the session has ended.</p>
        </div>
        <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="p-r-40 md-pr-30">
          <%= image_tag("customer_rating.svg", alt: "", title: "", class: "m-b-20", style: 'height:100px;width:auto;') %>
          <h6 class="block-title p-b-5">Show off your skills <i class="pg-arrow_right m-l-10"></i></h6>
          <p class="m-b-30">After each session the client will get to write a review of how amazing you are which will show to everyone else.</p>
          <p class="muted font-arial small-text col-sm-9 no-padding">You will also be able to review the client.</p>
        </div>
        <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="p-r-40 md-pr-30">
          <%= image_tag("calendar.svg", alt: "", title: "", class: "m-b-20", style: 'height:100px;width:auto;') %>
          <h6 class="block-title p-b-5">Manage your own schedule <i class="pg-arrow_right m-l-10"></i></h6>
          <p class="m-b-30">Easily manage your schedule so people can book you when you are available. You can also add exceptions whenever you want.</p>
          <p class="muted font-arial small-text col-sm-9 no-padding">We also integrate with Google Calendar so you have easy access on your phone.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->
<!-- BEGIN CONTENT SECTION -->
<section class="bg-master-lightest p-b-85 p-t-75 no-overflow">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <h5 class="block-title hint-text no-margin">MOBILE FRIENDLY</h5>
      <div class="row">
        <div class="col-sm-5">
          <h1 class="m-t-5 m-b-20">Easier to find and book.</h1>
          <p class="m-b-20">With a mobile friendly environment your clients can book you at all times.</p>
          <p class="hint-text font-arial small-text col-md-8 no-padding">This also means that you can manage your clients, sessions and schedule wherever you are.</p>
        </div>
        <div class="col-sm-7 no-padding xs-p-l-15 xs-p-r-15">
          <div class="content-mask-md">
            <div class="device_morph pull-center-inner" id="iphone01" data-pages="float" data-max-top-translate="40" data-max-bottom-translate="300" data-speed="-0.1" data-delay="1000" data-curve="ease">
              <%= image_tag("b_phone.png", alt: "", title: "", class: "xs-image-responsive-height image-responsive-width") %>
              <div class="screen">
                <div class="iphone-border">
                  <%= image_tag("booking.png", alt: "", title: "", class: "image-responsive-height") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->
<!-- BEGIN CONTENT SECTION -->
<section class="p-b-85 p-t-75 bg-master-lighter">
  <div class="container">
    <div class="md-p-l-20 xs-no-padding clearfix">
      <div class="row visible-sm">
        <div class="col-sm-8 m-b-40">
          <h2>Save time, save money, look more professional and win more clients.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="device_morph" data-pages="auto-scroll">
            <%= image_tag("b_phone.png", alt: "", title: "", class: "xs-image-responsive-height image-responsive-width", id: "mobile_phone") %>
            <div class="screen">
              <div class="iphone-border">
                <%= lazy_image_tag('mobile_preview.png', placeholder: 'mobile_preview_low.jpg', class: "image-responsive-height") %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1  col-sm-offset-2 col-sm-6">
          <div class="clearfix hidden-sm">
            <h2>Save time, save money, look more professional and win more clients.</h2>
          </div>
          <div class="col-md-9 col-md-offset-0 col-sm-11">
            <div class="p-t-50">
              <dl>
                <dt class="block-title p-b-15 text-black">Be part of a new movement <i class="pg-arrow_right m-l-10"></i></dt>
                <dd class="m-b-30">Our vision is to serve all amazing people who deliver spiritual services globally.</dd>
              </dl>
              <dl>
                <dt class="block-title p-b-15 text-black">Responsive team <i class="pg-arrow_right m-l-10"></i></dt>
                <dd class="m-b-30">Since we are 100% focused on serving you, we will always work to create the best possible experience for you as a provider.</dd>
              </dl>
              <dl>
                <dt class="block-title text-black p-b-15 ">Get Your Ideas Implemented <i class="pg-arrow_right m-l-10"></i></dt>
                <dd class="m-b-30">We always listen to your ideas and work towards implementing them as soon as possible into your daily workflow.</dd>
              </dl>
              <%= link_to "Create my account", new_user_registration_path, class: "btn btn-warning btn-lg btn-cons btn-rounded btn-bold" unless user_signed_in? %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->
