<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group form-group-default">
          <h3>
            Edit my cancellation policy.
          </h3>
          <%= render 'users/registrations/cancel_policy_form', :action => "edit_user_registration_path", :layout=> false %>
          <hr />
          <%= link_to "Back", services_path, class: "btn btn-complete btn-bordered" %>
        </div>
      </div>
    </div>
  </section>
