<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user.first_name %>!</h1>
    <h3><%= @booking.user.first_name %> just made a booking</h3>
    <%= link_to image_tag(@booking.user.avatar, size: "100x100", class: "img-circle", :style => "border: 3px solid #fff"), @booking.user %>
    <p>
      <h4><%= @service.title %></h4>
      Your session starts at: <%= @booking.start.strftime('%m/%d/%Y - %I:%M%p') %>.
    </p>
  </body>
</html>
