<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;box-sizing:border-box;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
  <style>
    @media only screen{html{min-height:100%;background:#ebebeb}}@media only screen and (max-width:596px){.small-float-center{margin:0 auto!important;Margin:0 auto!important;float:none!important;text-align:center!important}.small-text-center{text-align:center!important}.small-text-left{text-align:left!important}.small-text-right{text-align:right!important}}@media only screen and (max-width:596px){table.body table.container .hide-for-large{display:block!important;width:auto!important;overflow:visible!important}}@media only screen and (max-width:596px){table.body table.container .row.hide-for-large{display:table!important;width:100%!important}}@media only screen and (max-width:596px){table.body table.container .show-for-large{display:none!important;width:0;mso-hide:all;overflow:hidden}}@media only screen and (max-width:596px){table.body img{width:auto!important;height:auto!important}table.body center{min-width:0!important}table.body .container{width:100%!important}table.body .column,table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:16px!important;padding-right:16px!important}table.body .column .column,table.body .column .columns,table.body .columns .column,table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .column,table.body .collapse .columns{padding-left:0!important;padding-right:0!important}td.small-1,th.small-1{display:inline-block!important;width:8.33333%!important}td.small-2,th.small-2{display:inline-block!important;width:16.66667%!important}td.small-3,th.small-3{display:inline-block!important;width:25%!important}td.small-4,th.small-4{display:inline-block!important;width:33.33333%!important}td.small-5,th.small-5{display:inline-block!important;width:41.66667%!important}td.small-6,th.small-6{display:inline-block!important;width:50%!important}td.small-7,th.small-7{display:inline-block!important;width:58.33333%!important}td.small-8,th.small-8{display:inline-block!important;width:66.66667%!important}td.small-9,th.small-9{display:inline-block!important;width:75%!important}td.small-10,th.small-10{display:inline-block!important;width:83.33333%!important}td.small-11,th.small-11{display:inline-block!important;width:91.66667%!important}td.small-12,th.small-12{display:inline-block!important;width:100%!important}.column td.small-12,.column th.small-12,.columns td.small-12,.columns th.small-12{display:block!important;width:100%!important}table.body td.small-offset-1,table.body th.small-offset-1{margin-left:8.33333%!important;Margin-left:8.33333%!important}table.body td.small-offset-2,table.body th.small-offset-2{margin-left:16.66667%!important;Margin-left:16.66667%!important}table.body td.small-offset-3,table.body th.small-offset-3{margin-left:25%!important;Margin-left:25%!important}table.body td.small-offset-4,table.body th.small-offset-4{margin-left:33.33333%!important;Margin-left:33.33333%!important}table.body td.small-offset-5,table.body th.small-offset-5{margin-left:41.66667%!important;Margin-left:41.66667%!important}table.body td.small-offset-6,table.body th.small-offset-6{margin-left:50%!important;Margin-left:50%!important}table.body td.small-offset-7,table.body th.small-offset-7{margin-left:58.33333%!important;Margin-left:58.33333%!important}table.body td.small-offset-8,table.body th.small-offset-8{margin-left:66.66667%!important;Margin-left:66.66667%!important}table.body td.small-offset-9,table.body th.small-offset-9{margin-left:75%!important;Margin-left:75%!important}table.body td.small-offset-10,table.body th.small-offset-10{margin-left:83.33333%!important;Margin-left:83.33333%!important}table.body td.small-offset-11,table.body th.small-offset-11{margin-left:91.66667%!important;Margin-left:91.66667%!important}table.body table.columns td.expander,table.body table.columns th.expander{display:none!important}table.body .right-text-pad,table.body .text-pad-right{padding-left:10px!important}table.body .left-text-pad,table.body .text-pad-left{padding-right:10px!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.small-vertical td,table.menu.small-vertical th,table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}}@media only screen{.unlink a{color:inherit;text-decoration:inherit}}@media only screen and (max-width:596px){table.body .booking-confirmation-fulljourney.container{width:96%!important}table.body .booking-confirmation-fulljourney .column,table.body .booking-confirmation-fulljourney .columns{padding-left:0!important;padding-right:0!important}table.body .booking-confirmation-fulljourney .column.first,table.body .booking-confirmation-fulljourney .columns.first{padding-left:8px!important}table.body .booking-confirmation-fulljourney .column.last,table.body .booking-confirmation-fulljourney .columns.last{padding-left:8px!important;padding-right:8px!important}table.body .booking-confirmation-destination,table.body .booking-confirmation-origin{width:25px!important}table.body .booking-confirmation-station{width:auto!important}table.body .booking-confirmation-fare .first{padding-right:0!important;width:70%!important}table.body .booking-confirmation-fare .last{padding-left:0!important;width:30%!important}}
  </style>
  <table class="body" style="background:#ebebeb;border-collapse:collapse;border-spacing:0;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:100%;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tr style="padding:0;text-align:left;vertical-align:top">
      <td class="center" align="center" valign="top" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">
        <center data-parsed="" style="min-width:580px;width:100%">
          <table align="center" class="container booking-confirmation-header float-center" style="background:#fff;border-collapse:collapse;border-spacing:0;border-top:6px solid #ffdc00;float:none;margin:0 auto;Margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:20px;padding-left:16px;padding-right:16px;padding-top:20px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <center data-parsed="" style="min-width:532px;width:100%">
                                    <%= link_to image_tag("Enlive_text_beta_th.jpg", class: "logo"), root_url %>
                                  <table class="spacer float-center" style="border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;Margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <td height="16px" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:16px;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <%= link_to image_tag(@service.user.avatar.thumb, size: "100x100", class: "img-circle", :style => "border: 3px solid #fff"), @service.user %>
                                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <td height="16px" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:16px;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h1 class="text-center" style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:-.03px;line-height:24px;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center;word-wrap:normal">Your booking is confirmed.<br>Here's everything you need to<br>know for your session with <%= @service.user.first_name %>. </span></h1>
                                </center>
                              </th>
                              <th class="expander" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" class="container booking-confirmation-kiosk booking-confirmation-boxed" style="background:#fff;border-collapse:collapse;border-spacing:0;margin:0 auto;Margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">
                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <td height="16px" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:16px;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">&#xA0;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row booking-confirmation-delivery" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <div style="border:1px solid #ffdc00;border-radius:9px;padding:16px">
                                  <p class="text-center booking-confirmation-pretext" style="color:#949695;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center">Booking reference</p>
                                  <p class="text-center booking-confirmation-reference" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:24px;font-weight:700;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center">Start time: <span class="booking-confirmation-departuredate unlink" style="color:#ffdc00;;letter-spacing:3px"><%= @booking.start.strftime('%m/%d/%Y - %l:%M%p') %> </p>
                                  <p class="text-center" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center">To get in touch with <%= @service.user.first_name %>, <%= link_to 'send a message here', user_url(@service.user) %></p>
                                </div>
                              </th>
                              <th class="expander" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" class="container booking-confirmation-promo" style="background:#fff;border-collapse:collapse;border-spacing:0;margin:0 auto;Margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">
                  <table class="row smallhr" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-size:6px;line-height:6px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-size:6px;line-height:6px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                              <th style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0;Margin:0;padding:0;padding-bottom:0;text-align:left">
                                <div class="hr" style="background:#dbdbdb;border-radius:6px;font-size:6px;line-height:6px;margin:20px auto;Margin:20px auto;margin-bottom:16px;Margin-bottom:16px;margin-top:0;Margin-top:0">&nbsp;</div>
                              </th>
                              <th class="expander" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0;Margin:0;padding:0!important;padding-bottom:0;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <center data-parsed="" style="min-width:532px;width:100%">
                                  <!-- <img class="center float-center" src="https://static.trainlinecontent.com/content/ETL/1.15.3/icon-promo-mobile@2x.png" alt="Mobile ticket promotion" width="42" height="42" align="center" style="-ms-interpolation-mode:bicubic;clear:both;display:block;float:none;height:42px!important;margin:0 auto;Margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:42px!important"> -->
                                  <%= link_to image_tag("mobile_icon.svg", alt: "", size: "50x50", class: "logo"), users_url %>

                                </center>
                                <p class="text-center booking-confirmation-promo-info" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:16px;Margin-bottom:16px;margin-top:16px;Margin-top:16px;padding:0;text-align:center">Next time you're travelling, check out more providers all over the world!</p>
                                <p class="text-center" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center">
                                  <%= link_to 'Find providers', users_url, style: "color:#ffdc00;font-family:Helvetica,Arial,sans-serif;font-weight:700;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;text-decoration:none" %>
                                </p>
                              </th>
                              <th class="expander" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" class="container help-section" style="background:#fff;border-collapse:collapse;border-spacing:0;margin:0 auto;Margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">
                  <table class="row smallhr" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-size:6px;line-height:6px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-size:6px;line-height:6px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0;Margin:0;padding:0;padding-bottom:0;text-align:left">
                                <div class="hr" style="background:#dbdbdb;border-radius:6px;font-size:6px;line-height:6px;margin:20px auto;Margin:20px auto;margin-bottom:16px;Margin-bottom:16px;margin-top:16px;Margin-top:16px">&nbsp;</div>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0;Margin:0;padding:0!important;padding-bottom:0;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <table class="row booking-confirmation-header" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:8px;padding-left:16px;padding-right:16px;padding-top:20px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <h2 style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:700;letter-spacing:-.03px;line-height:20px;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left;word-wrap:normal">We're here to help<h2 style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:700;letter-spacing:-.03px;line-height:20px;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left;word-wrap:normal"></h2></h2>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row tinyhr" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-size:1px;line-height:1px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:1px;font-weight:400;line-height:1px;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-size:1px;line-height:1px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:1px;font-weight:400;line-height:1px;margin:0;Margin:0;padding:0;padding-bottom:0;text-align:left">
                                <p style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">Browse our
                                  <a href="https://ehelp.thetrainline.com/app/answers/list/rdr/10?utm_medium=email&utm_source=trigger&utm_campaign=TL_L_ONE_Booking_Confirmation&utm_content=TL_L_ONE_Booking_Confirmation" style="color:#ffdc00;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;text-decoration:none"><strong style="font-weight:400">Frequently Asked Questions</strong>
                                  </a>
                                </p>
                                <p style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">Need help with
                                  <a href="https://ehelp.thetrainline.com/app/answers/detail/a_id/3583?utm_medium=email&utm_source=trigger&utm_campaign=TL_L_ONE_Booking_Confirmation&utm_content=TL_L_ONE_Booking_Confirmation" style="color:#ffdc00;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;text-decoration:none"><strong style="font-weight:400">getting a refund</strong>
                                  </a>
                                </p>
                                <p style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">How to
                                  <a href="https://ehelp.thetrainline.com/app/answers/detail/a_id/3583?utm_medium=email&utm_source=trigger&utm_campaign=TL_L_ONE_Booking_Confirmation&utm_content=TL_L_ONE_Booking_Confirmation" style="color:#ffdc00;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;text-decoration:none"><strong style="font-weight:400">change your ticket</strong>
                                  </a>
                                </p>
                                <div class="hr" style="background:#dbdbdb;border-radius:6px;font-size:1px;line-height:1px;margin:20px auto;Margin:20px auto;margin-bottom:16px;Margin-bottom:16px;margin-top:16px;Margin-top:16px">&nbsp;</div>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:1px;font-weight:400;line-height:1px;margin:0;Margin:0;padding:0!important;padding-bottom:0;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="no-bottom small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:0!important;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <p style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">Or call 0871 244 1545* / 0333 202 2222 (*Calls cost 13p per minute plus your phone company's access charges. Calls from outside the UK may cost more.)</p>
                                <p style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">Please quote your Transaction ID:</p>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="8px" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:8px;font-weight:400;hyphens:none;line-height:8px;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="transactionid unlink" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="-moz-hyphens:none;-webkit-hyphens:none;background:#f8f8f8;border:1px solid #e6e6e6;border-collapse:collapse!important;color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;letter-spacing:4px;line-height:1.3;margin:0;Margin:0;padding:8px;text-align:center;vertical-align:top;word-break:normal;word-wrap:normal">0000000000</td>
                                  </tr>
                                </table>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row smallhr" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-size:6px;line-height:6px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-size:6px;line-height:6px;padding:0;padding-bottom:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0;Margin:0;padding:0;padding-bottom:0;text-align:left">
                                <div class="hr" style="background:#dbdbdb;border-radius:6px;font-size:6px;line-height:6px;margin:20px auto;Margin:20px auto;margin-bottom:16px;Margin-bottom:16px;margin-top:16px;Margin-top:16px">&nbsp;</div>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:6px;margin:0;Margin:0;padding:0!important;padding-bottom:0;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row booking-confirmation-header" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:8px;padding-left:16px;padding-right:16px;padding-top:20px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <h2 class="text-center" style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:700;letter-spacing:-.03px;line-height:20px;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center;word-wrap:normal">Latest trainline offers and tips<h2 style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:700;letter-spacing:-.03px;line-height:20px;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left;word-wrap:normal"></h2></h2>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <center data-parsed="" style="min-width:532px;width:100%">
                                  <table class="button primary radius inverse float-center" style="border-collapse:collapse;border-spacing:0;float:none;margin:0;Margin:0;padding:0;text-align:center;vertical-align:top;width:auto!important">
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:middle;word-break:normal;word-wrap:normal">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td style="-moz-hyphens:none;-webkit-hyphens:none;background:#fff;border:0;border-collapse:collapse!important;border-radius:9px;color:#ffdc00;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:middle;word-break:normal;word-wrap:normal">
                                              <a href="/buytickets/login.aspx?TabName=updatepersonaldetails.aspx" style="border:2px solid #ffdc00;border-radius:9px;color:#ffdc00;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:1.3;margin:0;Margin:0;padding:6px 14px 6px 14px;text-align:center;text-decoration:none"><strong>Keep me up to date</strong>
                                              </a>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </center>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="8px" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:8px;font-weight:400;hyphens:none;line-height:8px;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <p class="text-center" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:center">We'll only send from time to time and you can unsubscribe at anytime</p>
                              </th>
                              <th class="expander" style="color:#6e6e6e;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td height="8px" style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:8px;font-weight:400;hyphens:none;line-height:8px;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">&#xA0;</td>
              </tr>
            </tbody>
          </table>
          <table align="center" class="container email-disclaimer" style="background:#ebebeb;border-collapse:collapse;border-spacing:0;margin:0 auto;Margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:none;-webkit-hyphens:none;border-collapse:collapse!important;color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:none;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal;word-wrap:normal">
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0 auto;Margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left">
                                <h2 style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:700;letter-spacing:-.03px;line-height:1.3;margin:0;Margin:0;margin-bottom:4px;Margin-bottom:4px;margin-top:16px;Margin-top:16px;padding:0;text-align:left;word-wrap:normal">Terms and Conditions</h2>
                                <p style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">
                                  <a href="https://www.thetrainline.com/terms.aspx?utm_medium=email&utm_source=trigger&utm_campaign=TL_L_ONE_Booking_Confirmation&utm_content=TL_L_ONE_Booking_Confirmation" style="color:#000;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;text-decoration:underline"><strong style="font-weight:400">Our terms and conditions</a></strong> and the
                                  <a href="https://www.thetrainline.com/nationalcarriage.aspx?utm_medium=email&utm_source=trigger&utm_campaign=TL_L_ONE_Booking_Confirmation&utm_content=TL_L_ONE_Booking_Confirmation" style="color:#000;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0;text-align:left;text-decoration:underline"><strong style="font-weight:400">National Rail Conditions of Carriage</a></strong> apply to this booking.</p>
                                <h2 style="color:#000;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:700;letter-spacing:-.03px;line-height:1.3;margin:0;Margin:0;margin-bottom:4px;Margin-bottom:4px;margin-top:16px;Margin-top:16px;padding:0;text-align:left;word-wrap:normal">Registered address and tax</h2>
                                <p class="unlink" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">Trainline.com Limited is a company registered in England (with company registration number 3846791). Our registered office is at: 50 Farringdon Road, London EC1M 3HE. Trainline.com Limited is registered with VAT number
                                  791 7261 06, however, train tickets are currently zero rated for VAT and so VAT receipts are not routinely offered. You can contact our customer services department by using the contact details supplied in the "contact
                                  us" link. thetrainline is a trading name of Trainline.com Limited.
                                </p>
                                <p class="unlink" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0;Margin:0;margin-bottom:8px;Margin-bottom:8px;padding:0;text-align:left">Trainline Investments Holdings Limited (Registered No. 5776685) and Trainline.com Limited (Registered No. 3846791). Both Registered in England and Wales with registered office at 50 Farringdon Road, London EC1M 3HE.</p>
                              </th>
                              <th class="expander" style="color:#4d4d4d;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0;Margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table> -->
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>

</html>
