Hi <%= @user.first_name %>,

You have booked <%= @service.title %> with <%= @service.user.first_name %>.

Start time: <%= @booking.start.strftime('%m/%d/%Y - %l:%M%p') %>.

To contact <%= @service.user.first_name %>, please go to Enlive.me and send a message.
