<h3>Strict: 50% refund up until 1 week prior to session start</h3>
<ul>
  <li>
    The Enlive service fee is refundable (up to 3 times per year) if the guest cancels before the session starts.
  </li>
  <li>
    Session fees (the total session rate you're charged) are refundable in certain circumstances as outlined below.
  </li>
  <li>
    If there is a complaint from either party, notice must be given to Enlive within 24 hours of session start.
  </li>
  <li>
    Enlive will mediate when necessary, and has the final say in all disputes.
  </li>
  <li>
    A booking is officially canceled when the client sends a cancellation email, which they can find in Dashboard > Your Sessions > Change or Cancel.
  </li>
  <li>
    Applicable taxes will be retained and remitted.
  </li>
</ul><br />
<p>
  For a 50% refund of session fee, cancellation must be made seven full days prior to the session’s local start time, otherwise no refund.<br />
  For example, if session starts on Friday at 3PM, cancel by Friday of the previous week before 3PM.
  <br /><br />
  If the client cancels less than 7 days in advance, the session is non-refundable.
</p>
