<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h2>Thanks, you paid <strong>$5.00</strong>!</h2>
    </div>
  </div>
</section>
