<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group form-group-default">
        <h2>Forgot your password?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <br />
          <div class="actions">
            <%= f.submit "Send me reset password instructions" %>
          </div>
        <% end %><br />

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
