@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "pages-icons";
@import "font-awesome";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
    color: $state-danger-text;
}


/* Responsive Handler for calendar: Modals
------------------------------------
*/
@media (max-width: 768px) {
  .modal.fade.center .modal-dialog {
    // width: calc(100% - 20px);
    width: 100%;
    margin-left: -1px;
  }
}
@media (min-width: 768px) {
  .modal.fade.center .modal-dialog {
    width: 60%;
  }
}
@media (max-width: 375px) {
  .modal-dialog .simple-calendar table {
    max-width: 107%;
    width: 107%;
    margin-left: -10%;
  }
}
@media (min-width: 375px) {
  .modal-dialog .simple-calendar table {
    max-width: 107%;
    width: 107%;
    margin-left: -3.5%;
    margin-right: 25%;
  }
}

.simple-calendar .calendar-heading {
  font-size: 24px;
}
