// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flexible,
.moderate, .strict {
    width: 100%;
    float: left;
    /*height: 600px;*/
    /*padding-top: 100px;*/
    margin-top: 15px;
    display: none;
}

.active { display: block; }

.btn-flexible,
.btn-moderate,
.btn-strict {
  top: -5px;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #ededed;
  font-size: 20px;
}
