<% if @services&.first != nil %>
  <% @services.each do |service| %>

    <% if service.bookings.is_booked?(service, current_user) %>
      <% unless service.reviews.has_review?(service, current_user) %>
        <%= form_for([service, service.reviews.new]) do |f| %>

          <label>Create review for</label> <%= label_tag service.title %>
          <div id="user_stars"></div>

          <div class form-group>
            <%= f.text_area :comment, rows: 3, class: "form-control" %>
          </div>
          <%= f.hidden_field :service_id, value: service.id %>

          <div class="actions">
            <%= f.submit "Create", class: "btn btn-primary" %>
          </div>

          <script>
          $('#user_stars').raty({
            scoreName: 'review[star]',
            score: 1
          });
          </script>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
