<% if @servicesList&.first != nil %>

  <% @servicesList.each do |s| %>
    <% if s.reviews.blank? %>
      <!-- <div class="text">
        There are no reviews for <%= s.title %> from <%= s.user.first_name %> yet :(
      </div> -->
    <% else %>
      <% s.reviews.each do |r| %>
        <div class="row">
          <div class="col-md-2">
            <%= link_to image_tag(r.user.avatar.thumb, class: "img-circle", size: "75x75"), r.user %><br />
            <strong><%= r.user.first_name %></strong><br />
          </div>
          <div class="col-md-10">
            <%= label_tag r.service.title %> <div id="stars_<%= r.id %>"></div><%= r.created_at.strftime("%F") %><br /><br />
            <%= r.comment %>
            <span class="pull-right">
              <%= link_to "Remove this review", [@service, r], method: :delete, data: {confirm: "Are you sure?"} if current_user && current_user == r.user %>
            </span>
          </div>
        </div>

        <script>
        $('#stars_<%= r.id %>').raty({
          readOnly: true,
          score: <%= r.star %>
        });
        </script>

      <% end %>
    <% end %>
  <% end %>
<% end %>
