<h3>
  Hi <%= current_user.first_name %>, to become a provider at Enlive we need to learn a little more about you.
</h3>

<%= render 'users/registrations/form', :action => "edit_user_registration_path", :layout=> false %>
