<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <title>Enlive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body class="">

    <!-- BEGIN HEADER -->
    <!-- <nav class="header bg-header transparent-dark" data-pages="header" data-pages-header="autoresize" data-pages-resize-class="light"> -->
    <nav class="header sm-header light-solid " data-pages="header">
      <div class="container relative">
        <!-- BEGIN LEFT CONTENT -->
        <div class="pull-left">
          <!-- .header-inner Allows to vertically Align elements to the Center-->
          <div class="header-inner">
            <!-- BEGIN LOGO -->
            <%= link_to image_tag("Enlive_text_beta_th.jpg", class: "logo"), root_path %>
            <%= link_to image_tag("Enlive_text_beta.png", alt: "", size: "152x48", class: "alt"), root_path %>
          </div>
        </div>
        <!-- BEGIN HEADER TOGGLE FOR MOBILE & TABLET -->
        <div class="pull-right">
          <div class="header-inner">
            <!-- <a href="#" class="search-toggle visible-sm-inline visible-xs-inline p-r-10" data-toggle="search"><i class="fs-14 pg-search"></i></a> -->
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right p-b-10 p-l-10 p-r-10" data-pages="header-toggle" data-pages-element="#header">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
            </div>
          </div>
        </div>
        <!-- END HEADER TOGGLE FOR MOBILE & TABLET -->
        <!-- BEGIN RIGHT CONTENT -->
        <div class="menu-content mobile-dark pull-right clearfix" data-pages-direction="slideRight" id="header">
          <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
          <div class="pull-right" style="font-size: 1.5em;">
            <a href="#" class="padding-20 visible-xs-inline visible-sm-inline pull-right m-t-5 m-r-15" data-pages="header-toggle" data-pages-element="#header">
              <i class="pg-close_line"></i>
            </a>
          </div>
          <!-- END HEADER CLOSE TOGGLE FOR MOBILE -->
          <!-- BEGIN MENU ITEMS -->
          <div class="header-inner">
            <ul class="menu">
              <% if user_signed_in? %>
                <li>
                  <%= active_link_to "Browse", users_path, :active => :exclusive %>
                </li>
                <li>
                  <%= active_link_to "Sessions", your_sessions_path %>
                </li>

                <% if current_user.openings.exists? %>
                  <li class="classic">
                    <a href="javascript:;" data-text="Elements">
                      Provide <i class="pg-arrow_minimize m-l-5"></i>
                    </a>
                    <nav class="classic ">
                      <span class="arrow"></span>
                      <ul>
                        <li><%= active_link_to "My Services", services_path %></li>
                        <li><%= active_link_to "Confirmed Bookings", your_bookings_path %></li>
                      </ul>
                    </nav>
                  </li>
                <% else %>
                  <li>
                    <%= active_link_to "Provide", services_path %>
                  </li>
                <% end %>
                <li>
                  <%= active_link_to "Messages", conversations_path %>
                </li>
                <li class="classic">
                  <a href="javascript:;" data-text="Elements">
                    <%= current_user.first_name + ' ' + current_user.last_name  %> <i class="pg-arrow_minimize m-l-5"></i>
                  </a>
                  <nav class="classic ">
                    <span class="arrow"></span>
                    <ul>
                      <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </nav>
                </li>
              <% else %>
                <li>
                  <%= active_link_to "Browse", users_path, :active => :exclusive %>
                </li>
                <li>
                  <%= active_link_to "Login", new_user_session_path %>
                </li>
                <li>
                  <%= active_link_to "Sign up", new_user_registration_path %>
                </li>
                <li>
                  <% if current_page?('/join') %>
                    <%= link_to "Create my account", new_user_registration_path, class: "btn btn-warning btn-md btn-cons" %>
                  <% else %>
                    <%= link_to "Become a Provider", join_path, class: "btn btn-warning btn-md btn-cons" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- END MENU ITEMS -->
        </div>
      </div>
    </nav>
    <!-- END HEADER -->
    <!-- BEGIN CONTENT -->
    <%= yield %>
    <!-- END CONTENT -->

    <!-- BEGIN FOOTER -->
    <section class="p-b-55 p-t-75 xs-p-b-20 bg-master-lighter ">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-12 xs-m-b-40">
            <!-- <img src="assets/images/logo_white.png" width="152" height="21" data-src-retina="assets/images/logo_white_2x.png" class="alt" alt=""> -->
            <%= link_to image_tag("Enlive_text.png", alt: "", size: "152x48", class: "alt"), root_path %>
          </div>
          <div class="col-sm-2 col-xs-6 xs-m-b-20 pull-right">
            <h6 class="font-montserrat text-uppercase fs-14 text-black p-b-10">Company info </h6>
            <ul class="no-style">
              <li class="m-b-5 no-padding"><%#= link_to 'About Us', about_path, class: 'link text-black' %></li>
              <!-- <li class="m-b-5 no-padding"><a href="#" class="link text-black">Careers</a></li> -->
              <!-- <li class="m-b-5 no-padding"><a href="#" class="link text-black">Terms of Service</a></li> -->
              <li class="m-b-5 no-padding"><%= link_to 'Privacy Policy', privacypolicy_path, class: 'link text-black' %></li>
              <li class="m-b-5 no-padding"><%= link_to 'Cancellation policies', cancelpolicy_path, class: 'link text-black' %></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-6 xs-m-b-20 pull-right">
            <h6 class="font-montserrat text-uppercase fs-14 text-black p-b-10">Contact </h6>
            <ul class="no-style">
              <li class="m-b-5 no-padding"><%= mail_to "Info@enlive.me", nil, class: 'link text-black' %></li>
              <!-- <li class="m-b-5 no-padding"><a href="#" class="link text-black ">FAQ</a></li> -->
            </ul>
          </div>
        </div>
        <p class="fs-12 hint-text p-t-10 text-black">Copyright &copy; 2017. All Rights Reserved </p>
      </div>
    </section>
    <!-- END FOOTER -->
  </body>
</html>
