<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :cancellation_policy %>
    <%= f.select :cancel_policy, User::CANCEL_POLICY_OPTIONS, prompt: "Pick one" %>
  </div><br />

  <%= link_to 'Read more about the cancellation policies here', cancelpolicy_path, target: :_blank %><br /><br />

  <div class="field">
    <%= f.label :current_password %> <i>(Please enter your password to verify policy change)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %><br /><br />
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-complete" %>
  </div>

<% end %>
