<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :write_a_brief_professional_overview %>
    <i>
      Highlight your skills, experience and your passion. This is one of the first things clients will see on your profile.
    </i><br />
    <%= f.text_area :description, size: "50x7" %><br /><br />
  </div>

  <div class="field">

    <%= f.label :please_upload_a_professional_portrait_that_clearly_shows_your_face %>
    <% if current_user.avatar.url.present? %>
      <%= image_tag(current_user.avatar.thumb, size: "100x100", class: "img-circle", :style => "float: left; border: 3px solid #d3d3d3") %>
    <% end %>
    <%= f.file_field :avatar, :style => "margin-top: 10px;" %>
    <%= f.hidden_field :avatar_cache %><br /><br />
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Please enter your password to verify)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %><br /><br />
  </div>

  <div class="actions">
    <%= f.submit "Next", class: "btn btn-complete" %>
  </div>
<% end %>
