<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group form-group-default">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true %><br /><br />
          </div>

          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %><br /><br />
          </div>

          <div class="field">
            <%= f.fields_for :location do |builder| %>
              <%= builder.label :city %>
              <%= builder.text_field :city %><br /><br />
            <% end %>
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, size: "50x7" %><br /><br />
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %><br /><br />
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %><br />
          </div>

          <div class="field">
            <%= f.label :confirm_new_password %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %><br /><br />
          </div>

          <% if current_user.avatar.url.present? %>
            <%= image_tag(current_user.avatar.url) %><br />
          <% end %>
          <%= f.label :upload_avatar %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %><br /><br />

          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %><br /><br />
          </div>

          <div class="actions">
            <%= f.submit "Update Profile" %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>

      </div>
    </div>
  </div>
</section>
