<section class="bg-master-lightest p-b-65 p-t-100">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group form-group-default">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {multipart: :true}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true %><br /><br />
          </div>

          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %><br /><br />
          </div>

          <div class="field">
            <%= f.fields_for :location do |builder| %>
              <%= builder.label :city %>
              <%= builder.text_field :city %><br /><br />
            <% end %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %><br /><br />
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %><br /><br />
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %><br /><br />
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %><br />

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
